<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="mystyle.css" />
    <title>Product</title>
</head>

<body>
    {{!-- Thanh công cụ --}}
    <ul class="nav nav-tabs" style="background-color: blue;">
        <li class="nav-item" style="width: 200px;">
            <h3 style="color: white; margin-left: 20%;;">HS LEGO</h3>
        </li>
        <li class="nav-item">
            <a style="color: white;" class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a style="color: white;" class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
            <a style="color: white;" class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
            <a style="color: white;" class="nav-link" href="/product">Products</a>
        </li>
    </ul>
    <div>
        <h2 style="text-align: center; color:red">New Product</h2>
        <form class="border" style="text-align: center;" action="/product" method="post">
            <fieldset>
                Name: <br>
                <input type="text" name="txtName" id="txtName" value="{{oldP.name}}">
                <br>
                Price: <br>
                <input type="text" name="txtPrice" id="txtPrice" value="{{oldP.price}}">
                <span style="color: red;">{{error}}</span>
                <br>
                Picture URL: <br>
                <input type="text" name="txtPicURL" id="txtPicURL" value="{{oldP.pic}}">
                <br>
                <br>
                <input type="submit" value="Insert">
            </fieldset>
        </form>
    </div>
</body>

</html>